
batch size is 16.

## lambda
- fleurs: 6.05% (20.42s)

## whisper
- fleurs: 5.83% (46.67s)

